
div.container.half,
div.section#features,
div.section#downloads,
div.section#documentation,
div.section#license {
    width:45%;
    float:left;
    padding-left:2em;
    align:top;
}

div.container.half.left,
div.section#features {
    border-right:solid thin #CCCCBB
}

div.container.half.right,
div.section#downloads,
div.section#documentation,
div.section#license {
    border-right:solid thin #CCCCBB
}

div.container.clear,
div.section#bug-reports {
    clear:both;
}

body {
    padding-top: 100px;
    background-image: url("images/pyinstaller-draft1c-header-trans.png");
    background-repeat: no-repeat;
    background-position: left top;
}

h1, h2, h3, h4, h5, h6 {
    margin-right: 10px;
}

.bolditalic {
  font-weight: bold;
  font-style: italic;
}
.bold {
  font-weight: bold;
}

div.sidenote {
    background: #ffd none repeat scroll 0 0;
    border: 1px outset #ddc;
    clear: right;
    float: right;
    margin: 0 0 2em 1em;
    padding: 0.5em 1em;
    position: relative;
    width: 20%;
}
