
.navbar-text.navbar-version { display: none }


.bolditalic {
  font-weight: bold;
  font-style: italic;
}

.bold {
  font-weight: bold;
}

div.sidenote {
    background: #ffd none repeat scroll 0 0;
    border: 1px outset #ddc;
    clear: right;
    float: right;
    margin: 0 0 2em 1em;
    padding: 0.5em 1em;
    position: relative;
    width: 20%;
}
