body > div.container {
	max-width: 40em;
}

.navbar-text.navbar-version { display: none }


.bolditalic {
  font-weight: bold;
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.larger {
	font-size: larger;
}

div.sidenote {
    background: #ffd none repeat scroll 0 0;
    border: 1px outset #ddc;
    padding: 0.5em;
    box-shadow: 5px 5px gray;
    margin-bottom: 1em;
}
@media screen and (min-width: 55em) {
	div.sidenote {
		width: 15em;
		margin: 0 -15em 0;
		position: absolute;
		right: 0;
	}
}
/* avoid sidenote to become too wide */
@media screen and (max-width: 55em) {
	div.sidenote {
		max-width: 38em;
	}
}

a.download code.download {
	color: inherit;
}

#funding-pyinstaller .figure.align-center {
	float: left;
	padding: 0 3em;
}

.admonition {
	max-width: 40em;  /* from body */
}

img#main-page {
	margin-bottom: 1em;
}

.container.leadtext {
	font-size: 120%;
	padding-left: 0;
	padding-right: 0;
	max-width: calc(33.33333em - 30px); /* from body: 40em / 120% */
}

.container.fundraisingbox {
	border: solid thin red;
	font-size: 120%;
	max-width: 33.33333em; /* 40em / 120% */
	padding: 7px 7px 0;
	margin: 10px auto;
}

/* work around nav-bar overlapping the content in this width-range */
@media screen and (min-width: 768px) and (max-width: 1200px) {
	#navbar + .container {
		margin-top: 100px;
	}
}
