body > div.container {
	max-width: 40em;
}

.navbar-text.navbar-version { display: none }


.bolditalic {
  font-weight: bold;
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.larger {
	font-size: larger;
}

div.sidenote {
    background: #ffd none repeat scroll 0 0;
    border: 1px outset #ddc;
    clear: right;
    float: right;
    margin: 0 0 2em 1em;
    padding: 0.5em 1em;
    position: relative;
    width: 20%;
}

a.download code.download {
	color: inherit;
}

#funding-pyinstaller .figure.align-center {
	float: left;
	padding: 0 3em;
}

.admonition {
	max-width: 40em;  /* from body */
}

.container.fundraisingbox {
	border: solid thin red;
	font-size: 120%;
	max-width: 33.33333em; /* 40em / 120% */
	padding: 7px 7px 0;
	margin: 10px auto;
}
